*{
    background-color: rgb(45, 77, 105);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: medium;
    color: rgb(190, 149, 87);
}
p{
    font-size: large;
    color: rgb(5, 48, 5);
    
}